h1{

    color: rgb(31, 133, 222);
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

h3{
    font-family: "Century Gothic";
}


body{
    background: url(https://i.imgur.com/F5N6HYO.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

#mainMenu{
    text-align: center;
    display: flex;
    flex-direction: column;
}



#theMeatsAndGravy{
    text-align: center;
    display: flex;
    flex-direction: column;

}